<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDU646a35HrDefOfmbWHvgleoUDUG_e0P8</string>
	<key>GCM_SENDER_ID</key>
	<string>181271702282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.marthonMap</string>
	<key>PROJECT_ID</key>
	<string>marathon-map-acf60</string>
	<key>STORAGE_BUCKET</key>
	<string>marathon-map-acf60.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181271702282:ios:f75046eb519f795a76e8f3</string>
</dict>
</plist>